<a href="https://colab.research.google.com/github/aditya-account/pythonLearnings/blob/main/EssentialsOfPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Gives ASCII values to each character from the string

In [ ]:
text = input("enter a astring : ")
ascii_val = []
for characters in text:
    ascii_val.append(ord(characters))
print(ascii_val)

enter a astring : Adi
[65, 100, 105]

#On one fine morning Virat wake up at 9am, he will take breakfast in between 10-11, after that he'll take a nap till 4'o clock , then he'll take snacks in between 5-5:30 ,after that he'll take a sleep till 9am
if he's happy everything is fine,and everything is good, otherwise he's unhappy.

In [ ]:
time =int(input('Enter the time in 24 hrs format'))
if time == 9:
  print("Awake ")
  print('I am HAPPY')
elif (time == 10 or time == 11):
  print("Breakfast")
  print('I am HAPPY')
elif (time == 17 or time == 18):
 print("Snacks")
 print('I am HAPPY')
elif (time >= 19 or time <= 8):
  print("Asleep")
print("IS everything is done in time ")
s=input("YES(Y) / NO(N)")
if s == 'Y':
  print("I am happy ")
if s == 'N':
 print("I am sad")

Enter the time in 24 hrs format16
IS everything is done in time
YES(Y) / NO(N)N
I am sad

#Program for grading taking marks as input

In [ ]:
print("Enter Marks Obtained in 5 Subjects: ")
markOne = int(input())
markTwo = int(input())
markThree = int(input())
markFour = int(input())
markFive = int(input())

tot = markOne+markTwo+markThree+markFour+markFive
avg = tot/5

if avg>=91 and avg<=100:
    print("Your Grade is A1")
elif avg>=81 and avg<91:
    print("Your Grade is A2")
elif avg>=71 and avg<81:
    print("Your Grade is B1")
elif avg>=61 and avg<71:
    print("Your Grade is B2")
elif avg>=51 and avg<61:
    print("Your Grade is C1")
elif avg>=41 and avg<51:
    print("Your Grade is C2")
elif avg>=33 and avg<41:
    print("Your Grade is D")
elif avg>=21 and avg<33:
    print("Your Grade is E1")
elif avg>=0 and avg<21:
    print("Your Grade is E2")
else:
    print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:
20
20
30
40
30
Your Grade is E1

# A program to check whether the number is positive or negative

In [ ]:
num = int(input("enter a value : "))
if num > 0:
  print("the number is positive")
else:
  print("the number is negative")

enter a value : 2
the number is positive

# program to check whether the given number is even or not

In [ ]:
num = int(input("enter a number : "))
if num%2 == 0:
  print("the number is even")
else:
  print("the number is odd")

enter a number : 5
the number is odd

In [ ]:
10>20

False

In [ ]:
not 10>20

True

In [ ]:
a = int(input("enter the a value : "))
b = int(input("enter the b value : "))
if not a>b:
  print("b is greater than a")
else:
  print("a is greater than b")

In [ ]:
10 in [10,20,30]

In [ ]:
40 in [10,20,30]

In [ ]:
i = 0
while i<5:
  print(i,end=" ") 
  i=i+1

In [ ]:
for i in range(1,10):
  print(i,end=" ")

#Program to print series 200,220,240,260,280,300,...,420

In [ ]:
for i in range(200,440,20):
  print(i,end=" ")

#Virat's favourite number is 666, in the range of 200 to 1000, if he see 666 ,he is happy otherwise unhappy

In [ ]:
fnum = 666
for i in range(200,1000):
  if i==fnum:
    print("happy")

# Python program for performing Arithmetic Operations

In [ ]:
num1 = int(input('Enter First number: '))
num2 = int(input('Enter Second number: '))
add = num1 + num2
dif = num1 - num2
mul = num1 * num2
div = num1 / num2
floor_div = num1 // num2
power = num1 ** num2
modulus = num1 % num2
print('Sum of ',num1 ,'and' ,num2 ,'is :',add)
print('Difference of ',num1 ,'and' ,num2 ,'is :',dif)
print('Product of' ,num1 ,'and' ,num2 ,'is :',mul)
print('Division of ',num1 ,'and' ,num2 ,'is :',div)
print('Floor Division of ',num1 ,'and' ,num2 ,'is :',floor_div)
print('Exponent of ',num1 ,'and' ,num2 ,'is :',power)
print('Modulus of ',num1 ,'and' ,num2 ,'is :',modulus)

#binary operators

In [ ]:
a = 60             
b = 13            
c = 0

c = a & b;       
print("binary AND value of c is ", c)

c = a | b;         
print("binary OR value of c is ", c)

c = a ^ b;        
print("binary XOR value of c is ", c)

c = ~a;          
print("binary 1's complement Value of c is ", c)

c = a << 2;   
print("binary left shift value of c is ", c)

c = a >> 2;   
print("binary right shift value of c is ", c)

In [ ]:
var1 = int(input("enter the value : "))
var2 = int(input("enter the value : "))
if var1==var2:
  print("the values are identical")
else:
  print("the values are not identical")

In [ ]:
name = input("enter the name of student: ")
age = int(input("enter the age: "))
cgpa = input("enter the cgpa: ")
print("the name of student is :",name)
print("the name of student is :",age)
print("the cgpa of student is :",cgpa)

#program to print salary bonus

In [ ]:
salary=int(input("enter the salary: "))
gender = input("enter the type of gender(MALE/FEMALE) :").upper()

if gender =="MALE":
  Bsalary = salary + (salary*0.05)
elif gender == "FEMALE":
  Bsalary = salary + (salary*0.1)
else:
  print("invalid")
print("the final salary including bonus is: ",Bsalary)

#Multiplication table of n

In [ ]:

num = int(input("enter the value of n")) 

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

#Determine whether the character is a vowel or not

In [ ]:
char = input("enter a character: ")
if char=='a'or char=='e' or char=='i' or char=='o' or char=='u' or char=='A'or char=='E' or char=='I' or char=='O' or char=='U':
  print("a vowel")
else:
  print("not a vowel")

# Sum of numbers from m to n

In [ ]:
m=int(input("enter the value of m :"))
n=int(input("enter the value of n :"))
if m>n:
  print("error!!!")
else:
  for i in range(m,n+1):
    print(i,end=" ")

# **print odd number sequence 1,3,5,7,9,....,n**

In [ ]:
n = int(input("enter the value of n: "))

for num in range(1, n + 1):
	
	if num % 2 != 0:
		print(num, end = " ")

# patterns

In [ ]:
def numpat(n):

	for i in range(0, n):
	
		num = 1
	
		for j in range(0, i+1):
		
			print(num, end=" ")
		
			num = num + 1
	
		print("\r")

n = 4
numpat(n)

#                                                                                  Functions

In [ ]:
def show():
  print("im done")

show()

In [ ]:
def par(a,b):
  c=a+b
  print(c)
par(2,3)

In [ ]:
def show():
  a=100
  print(a)
a=500
show()
print(a)

In [ ]:
def smile():
   a= int(input("enter a value: "))
   b= int(input("enter b value: "))
   c= int(input("enter c value: "))


   avg = (a+b+c)/3
   print(avg)
smile()

In [ ]:
def smile(x,y,z):
  avg = (x+y+z)/3
  print("Average of three numbers :",avg)
a= int(input("enter a value: "))
b= int(input("enter b value: "))
c= int(input("enter c value: "))

smile(a,b,c)

# program to calculate simple interest with return type and with arguments

In [ ]:
def sinterest(p,t,r):
  si =(p*t*r)/100
  return si
 
p=int(input("enter the principle value : "))
t=int(input("enter the  time in months : "))
r=int(input("enter the rate of interest : "))
sinterest(p,t,r)

In [ ]:
def show(c_name, area):
  print(c_name)
  print(area)

show(area = 'Aziznagar',c_name = 'VJIT')

#Simple Interest calculation using functions

In [ ]:
def simple(p,t,r):
  return (p*t*r)/100
simple(p=100,t=10,r=2)

# program to show sum of n digits using functions (for both positive and negative values of n)

In [ ]:
def sumOfNumbers(n):
  sum = 0
  if n>0:
     for i in range(1,n+1):
       sum=sum+i
     return sum
  elif n<0:
    for i in range(0,n-1,-1):
      sum = sum+i
    return sum

 
n=int(input("enter the value of n: "))
sumOfNumbers(n)

#Multiple parameters

In [ ]:
def food(**kwarg):
  print(kwarg)
food(a="apple")
food(veg = ['xxx','yyy','zzz'],fruit = ["banana","guava"])

# Passing n number of parameters in python

In [ ]:
def printNames(*names):
  print("type of passed arument is :",type(names))
  print("printing the passes arguments: ")
  for name in names:
    print(name,end=" ")
printNames("Jack","John","Paul",6,7,34,545)

# Sum of arguments

In [ ]:
def printNames(*names):
  print("type of passed arument is :",type(names))
  print("printing the passes arguments: ")
  sum=0
  for name in names:
    print(name,end=" ")
    sum = sum+name
    print()
    print("sum = ",sum)
printNames(6,7,34,545)

# Recursive functions(factorial of a given number)

In [ ]:
def fun(n):
  if n==0:
    return 1
  else:
    return n*fun(n-1)
fun(5)

In [ ]:
c=0
def add():
  global c
  c = c+2
  return c
add()
print(c)

# program to find average of 4 numbers by reading two values in function1 and other two values in function2 and find average in function3

In [ ]:

def func1():
  global a
  a=10
  global b
  b=20
def func2():
  global c
  c=30 
  global d
  d=40 
def func3():
  func1()
  func2()
  average = (a+b+c+d)/4
  return average
func3()

# class syntax 
class class_name:

    statement

In [ ]:
class test:
  a=10
  b=20
  def show(self):
    print(self.a)
    print(self.b)
    
x=test()
print(x.a)
print(x.b)
x.show()

# write a program to print student details like: student_name and rollno in one function and in another functiopn display the average of 4 marks

In [ ]:
class arith:
  def data(self,a,b):
    self.a =a
    self.b = b
  def add(self):
    print("Sum of two numbers is: ",self.a+self.b)
  def sub(self):
    print("Subtraction of two numbers is", self.a-self.b)
obj = arith()
x = int(input("enter the value of a:"))
y = int(input("enter the value of b: "))
obj.data(x,y)
obj.add()
obj.sub()

## write a program to calculate area and peimeter of a square

In [ ]:
class square:
  def data(self,a):
    self.a = a
  def area(self):
    print("area of square is : ",a*a)
  def perimeter(self):
    print("perimeter of a square is: ",4*a)
obj = square()
a = int(input("enter the value of a : "))
obj.data(a)
obj.area()
obj.perimeter()

# CONSTRUCTORS:
# constructor is used to initialize class variables
# init() function is used to create a constructor
#syntax:
# def __init__(self [args]):
#       statements

In [ ]:
class arith:
  def __init__(self):
    self.a = 10
    self.b = 20
  def add(self):
    print("sum of two numbers is :",self.a+self.b)

obj = arith()
obj.add()

In [ ]:
class rectangle:
  def __init__(self):
    self.l = 10
    self.b = 20
  def area(self):
    print("sum of two numbers is :",self.l*self.b)
  def area(self):
    print("sum of two numbers is :",2(self.l+self.b))


obj = arith()
obj.area()
obj.perimeter()

# Parameterized constructor

In [ ]:
class arith:
  def __init__(self,a,b):
    self.a = a
    self.b = b
  def add(self):
    print("sum of two numbers is : ",self.a+self.b)
obj = arith(2,3)
obj.add()

# write a program for calculating students average of 4 s

# write a program for : person X having 100 gold coins ,50 silver coins,20 diamonds, on one day sister requested 10 diamonds and 10 gold coins then print remaining coins the person X have (use default and parameterized constructors)

In [ ]:
import re
res = re.findall('good','good is good')
res1 = re.findall('good','bad is good')

print(res)
print(res1)

In [ ]:
import re
res = re.split('[a-c]','0a3B6',re.I)
print(res)

In [ ]:
 res = list('hello')
print(res)

In [ ]:
empno = int(input("enter the number of employes  :"));
for i in range(0,empno):
  name = input("enter the  employ name for:")
  salary = int(input("enter the salary of  member"))
for i in range(0,empno):
  print("name of ",name)
  print("salary of ",name,"is",salary)

In [ ]:
NumList = []
Number = int(input("Please enter element length in list "))
for i in range(1, Number + 1):
    value = int(input("Please enter the Value of %d Element : " %i))
    NumList.append(value)
 
print("The Largest Element in this List is : ", max(NumList))



```
# Default access specifier

In [ ]:
class access:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def show(self):
      print(self.name)
      print(self.age)

obj = access("john",24)
obj.show()

## PROTECTED : the members of a class that are declared protected are only accessible to class derived from  it 
class super:
  #statements
class derived(super):
  #statements

  #protected variable : _x ,_y

In [ ]:
class A:
  def __init__(self,x,y):
    self._x = x  #protected variable
    self._y = y  #protected variable
  def A_show(self):
    print("super class variable", self._x,self._y)
class B(A):
  def __init__(self,x,y,z):
    A.__init__(self,x,y)
    self.z = z
  def B_show(self):
    print((self._x + self._y + self.z)/3)
obj = B(100,200,300)
obj.B_show()

#Write a program for finding of student average 6 subjects marks
# 1) read name and  age , 3 subjects marks in base class
# 2)read another 3 subjects in derived class and find average.

PRIVATE: 
accessible within the class only
Syntax:
__x,__y

In [ ]:
class student:
  __name = None
  __roll = None
  __branch = None

  def __init__(self,name ,roll,branch):
    self.__name = name
    self.__roll = roll
    self.__branch = branch
  def __displayDetails(self):
    print("Name: ",self.__name)
    print("roll :",self.__roll)
    print("branch : ",self.__branch)
obj= student("asdf",786,"AI")
obj._student__displayDetails()

# Attributes
#1) hasattr
#2) getattr
#3) delattr

In [ ]:
class Person:
  age = 23
  name = 'aditya'
person = Person()                                       #person is the object
print("Person has age? : ", hasattr(person,'age'))      #hasattr
print("Person has salary?: ", hasattr(person,'salary'))
print("The age is: ",getattr(person,'age'))             #getattr
#print("The age is: ",delattr(person,'age'))             #delattr

# Exceptions
#syntax:
        try:
            #block of codewhere exption is expected
        except:
            #handling statement for the exception

In [ ]:
try:
  a = int(input("enter the value of a:"))
  b = int(input("enter the value of b:"))
  c = a/b
  print(c)

except:
  print("Division with zero is not possible")

#Exceptions 
#Syntax:

        try:
            #block of codewhere exption is expected
        except:
            #handling statement for the exception
        else:
            if no exceptions,this block is executed

In [ ]:
try:
  a = int(input("enter the value of a:"))
  b = int(input("enter the value of b:"))
  c = a/b
  print(c)

except:
  print("Division with zero is not possible")
else:
  print("no exceptions")

# Exception class(builtin class)

In [ ]:
try:
  a = int(input("enter the value of a:"))
  b = int(input("enter the value of b:"))
  c = a/b
  print(c)

except Exception:
  print("Division with zero is not possible")
  print(Exception)
else:
  print("no exceptions")

#creating an object for exception class

In [ ]:
try:
  a = int(input("enter the value of a:"))
  b = int(input("enter the value of b:"))
  c = a/b
  print(c)

except Exception as e:
  #print("Division with zero is not possible")
  print(e)
else:
  print("no exceptions")

# Input and Output Exceptions

# note: Exception is a base class and IOException is a derived class

In [ ]:
try:
  fp = open("smile.txt","r")
except IOError:
  print("file is not opened")
else:
  print("File is opened successfully")
  fp.close()

# creating an object for IOExceptions

In [ ]:
try:
  fp = open("smile.txt","r")
except IOError as e:
  #print("file is not opened")
  print(e)
else:
  print("File is opened successfully")
  fp.close()

# Finally
 will be executed irrespective of the exception

In [ ]:
try:
  fp = open("smile.txt","r")
except IOError as e:
  #print("file is not opened")
  print(e)
else:
  print("File is opened successfully")
  fp.close()
finally:
  print("smile please")

# Strings

concatenating two strings using + operator

In [ ]:
str1 = input("enter the string1: ")
str2 =input("enter the string2: ")
str3 = str1+str2
print(str3)

In [ ]:
str1 = int(input("enter the string1: "))
str = str1+1
print(str)

In [ ]:
x=12
y=13
z=x+y
print(z)

In [ ]:
x='12'
y='13'
z=int(x)+int(y)
print(z)

In [ ]:
str = input("enter a string: ")
print(int(str)-10)

# Arrays

In [ ]:
fruit = 'banana'
letter = fruit[-1]
letter2 = fruit[0]
print(fruit[1+2])
print("last index: ",letter)
print("first index: ",letter2)

for i in range(0,len(fruit)):
  print(fruit[i])

# len() --- returns the length of string

In [ ]:
fruit = 'banana cake'
print(len(fruit))

In [ ]:
str = " aditya dhanraj"
for i in range(0,len(str)):
  print(str[i],end = " ")
print(str)

# Slicing Strings

In [ ]:
s = "Aditya Dhanraj"
print("1",s[0:4])          
print("2",s[3:100])
print("3",s[ :-2])
print("4",s[-2: ])
print("5",s[3:-3])
print("6",s[-2:-6])
print("7",s[-6:-1])

#reverse of a string

In [ ]:
s = "Aditya Dhanraj"
print(s[ : ])
print("reverse of a string is :",s[ : :-1])

In [ ]:
s = "Aditya Dhanraj"
print(s[5: ])
print(s[:5])

#'in' operator

In [ ]:
str = 'python programming'
'python' in str

In [ ]:
str1 = 'aditya'  
str2 = 'dhanraj'
str1<str2              #compared with their respective ASCII values

#String functions 
.lower()
.upper()

In [ ]:
s = "please sMIle, otherwIse Cry"
print(s.lower())
print(s.upper())

#string functions:
.capitalize()

In [ ]:
s = "Please sMIle, otherwise cry"
print(s.capitalize())            #converts first letter of the string into a capital letter

#string functions:
.startswith()

In [ ]:
s = "Please sMIle, otherwise cry"
print(s.startswith('Please'))

#string functions:
.endswith()

In [ ]:
s = "Please sMIle, otherwise cry"
print(s.endswith('smile'))

# .find()

In [ ]:
s = "please smile"
print(s.find('please'))
print(s.find('smile'))
p = s.find('smile')
if p==7:
  print("happy")
else:
  print("unhappy")

#.lstrip()
#.rstrip()

In [ ]:
s = "     hii how are you     "
print(s.lstrip())
print(s.rstrip())
print(s.strip())

# List

In [ ]:
l=[10,20,30,"smile","hi",20.20]
print(type(l))
print(l)

# List within a list

In [ ]:
l=[10,20,30,"smile","hi",20.20,[10,20,"asjkfb"]]
print(l)

In [ ]:
l=[10,20,30,"smile","hi",20.20,[10,20,"asjkfb"]]
for i in l:
  print(i)

In [ ]:
l=[10,20,30,"smile","hi",20.20,[10,20,"asjkfb"]]

print(l[3])

In [ ]:
l=[10,20,30,"smile","hi",20.20,[10,20,"asjkfb"]]
print(l[6 : : -1][2 : : -1])

In [ ]:
l=[10,20,30,"smile","hi",20.20,[10,20,"asjkfb"]]
print(l[-1][::-1])

In [ ]:
l=[10,20,30,"smile","hi",20.20,[10,20,"asjkfb"]]
print(l[-2:0])

#concatenating two lists

In [ ]:
l = [10,20,30,40,50]
p=[10,20,30,"smile","hi",20.20,[10,20,"asjkfb"]]

#l[4] = 2000
l[2:4] = [40,50]
print(l+p)

#deleting elements from the list

In [ ]:
l=[1,2,3,4,5,6]
del l[0:2]
print(l)

In [ ]:
l=[1,2,3,4,5,6]
l.append([23,354,5676])
print(l)

In [ ]:
l = {2345:254,245:24}
print(l.values)
print(type(l))

In [ ]:
str1 = "Hello"  
str2 = "JavaTpoint"    
str3 = " ".join([str1, str2])
str4 = str1+" "+ str2  
  
print(str3)  
print(str4)

In [ ]:
string = "aditya"
print(len(string))
 
# with tuple
tup = (1,2,3)
print(len(tup))
 
# with list
l = [1,2,3,4]
print(len(l))

In [ ]:
str = "Aditya"
print(str[4])

In [ ]:
str = "aditya"
"adi" in str

# Tuple 
(immutable)

In [ ]:
t = ()
print(t)
print(type(t))

In [ ]:
t=(10,20,"aditya7",0,52,60.5,99,'ss',95.5,94.3,90)
print(t)
print(t[4])
print(t[2:6])

In [ ]:
#  List(mutable)
l = [12,20.2,"aditya",'dhanraj',999]
l[4] = 99999
print(l)

In [ ]:
t=(10,20,"aditya7",0,52,60.5,99,'ss',(12,234,67,98,"fggju"),95.5,[13,54,67,78],94.3,90)
print(t)
print(t[10])
print(t[10][0])

In [ ]:
p="hello",
print(type(p))

In [ ]:
t = ('p','e','r','m','i','t')
print(t[3])
#print(t[8])  IdexError
t2 = ("aditya",[8,6,1,2],(45,67,98))
print(t2[1][2])
print(t[-1])

#Slicing in tuple

In [ ]:
t2 = ("aditya",[8,6,1,2],(45,67,98),12,556,563)
print(t2[::2])
print(t2[4:10])
print(t2[-5:-1])
print(t2[ :-5])

In [ ]:
t =(1,2,4,5,7,8,5,3,2,4,6)
print(t[:-5])
print(t[-5:])
print(t[-3:])
print(t[4:4])

In [ ]:
t =(1,2,4,5,7,8,5,3,2,4,6)
t2 = (234,43,567,4,14)
print(t+t2)
x=t+t2
print((23,5,567)*4)
print((t2)*4)
print(x*2)
del t
#print(t)

#Printing tuple elements using for ;loop

In [ ]:
t = ("Adit","ya","Dhanraj","adf")
for i in t:
  print(i,end=" ")

In [ ]:
tup=(12,45,32,4678,883,44)
print(max(tup))
print(min(tup))
print(len(tup))
print(sum(tup))

#Dictionary

# 1)dictionary is an unordered items and each dictionary has key and value pairs
#{key:value}

In [ ]:
x = {}
print(type(x))

In [ ]:
x= {1:104,2:"aditya",3:13.24,4:'wrfc'}
print(x)
print(x[4])

In [ ]:
y = {"aditya":1,"gat":2,"sd":3}
print(y)
print(y["aditya"])

In [ ]:
z = {1:104,2:"aditya",3:13.24,4:'wrfc',"aditya":1,"gat":2,"sd":3}
print(z)

# dict() is a built-in function in python.

In [ ]:
q = dict({'a':1,'b':2,'c':[12,2343,67687,54243,1]})
print(q['c'][2])

In [ ]:
print(q['c'][3])

In [ ]:
dict = {'rollno':'20911A3552','name':'Aditya','branch':'AI','section':'A','age':19,'height':'5.11ft'}
print(dict['rollno'])
print(dict['name'])
print(dict['branch'])
print(dict['section'])
print(dict['age'])
print(dict['height'])

# Changing and insering the values in dictionaries

In [ ]:
dict['rollno'] = 3552
dict['lastName'] = 'S'
print(dict)

# del()-Deleting elements from the dictionary

In [ ]:
del dict['lastName']
print(dict)

In [ ]:
for key in dict:
  print(key)

#Printing key and value pairs using for loop

In [ ]:
for keyval in dict.items():
  print(keyval)

#Nested dictionaries

In [ ]:
stud = {"aditya" : {'AI':99,'ds':97,'daa':90},
        "arun": {'AI':98,'ds':87,'daa':80},
        "fgbs": {'AI':88,'ds':89,'daa':90}}
for key,value in stud.items():
  print(key)
  print(value)

#copy() in dict

In [ ]:
new = stud.copy()
print(new)

#clear() in dict

In [ ]:
stud.clear()
print(stud)

#fromkeys() in dict

In [ ]:
keys = {'a','e','i','o','u','o'}
mydict = dict.fromkeys(keys)
print(mydict)

#get() in dict

In [ ]:
per = {'name':'phill','age':19,'branch' : 'AI'}
for i in per.keys():
  print(per.get(i))

#items() in dict

In [ ]:
print(per.items())

#values() in dict

In [ ]:
print(per.values())

#popitem() in dict

In [ ]:
dic = {1:12,2:23,3:134,4:1234,5:567}
dic.popitem()

In [ ]:
dic['height'] = 6
dic['weight'] = 68
print(dic)
dic.popitem()

# setdefault() in dict-
returns value if the key is present in the dictionary

In [ ]:
dic.setdefault('height')

In [ ]:
dic.setdefault('name')

# pop() in dict

In [ ]:
dict = {1: 12, 2: 23, 3: 134, 4: 1234, 'height': 6, 'weight': 68}
dictionary = dict.pop(1) 
print(dictionary)

#update() in dict

In [ ]:
d = {'x':1,'y':2,'z' : 7}
d.update(y=3,z=4)  #tuple values are updated to the dictionary
print(d)

In [ ]:
d = {'x':1,'y':2,'z' : 7}
e = {'a':2,'b':3}
d.update(e)
print(d)

In [ ]:
print(len(d))
print(all(d))
print(any(d))
A={}
print(any(A))
print(all(A))

#Numpy

In [ ]:
import numpy as np
a = np.array([10,20,30,40])
b = np.array([100,200,300,400])
c = a+b
print(c)
print(c.size)
print(c.shape)
print(c.ndim)

[110 220 330 440]
4
(4,)
1

In [ ]:
import numpy as np
a = np.array([[2,4,6],[3,6,9],[1,2,3],[4,6,9]])
b = np.array([[1,3,5],[9,6,4],[4,2,6],[3,6,9]])
c = a+b
d =a-b
e = a/b
f = a*b
print(c.size)
print(c.shape)
print(c.ndim)
print("") # Emppty line
print(c)

print(d.size)
print(d.shape)
print(d.ndim)
print("") # Emppty line
print(d)

print(e.size)
print(e.shape)
print(e.ndim)
print("") # Emppty line
print(e)

print(f.size)
print(f.shape)
print(f.ndim)
print("") # Emppty line
print(f)

In [ ]:
A = np.array([
              [10,20,30],
              [40,50,60],
              [10,20,30],
              [51,52,83]
              ])
print(A)
print(A[3][2])

#3D matrix

In [ ]:
A = np.array([
              [[10,20,30],[52,62,42],[33,25,76]],
              [[2,3,4],[7,5,3],[8,6,4]],
              [20,40,60],[40,50,60],[50,20,10]]
              )
#print(A)
print(A.size)
print(A.shape)
print(A.ndim)
print(A.dtype)

15
(5, 3)
2
object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  after removing the cwd from sys.path.

In [ ]:
a = np.zeros(7)
print(a)
print(a.ndim)
print(a.size)
print(a.shape)
print(type(a))

#.zeros()

In [ ]:
a = np.zeros((6,6))
print(a)
print(a.ndim)
print(a.size)
print(a.shape)
print(type(a))

NameError: ignored

#.ones()

In [ ]:
a = np.ones(5)
b = np.ones((5,5))

print(a)
print(b)

#.eye(size) - Identity matrix

In [ ]:
a = np.eye(4)
b = np.eye(4,6)
print(a)
print("")
print(b)

# .reshape()  - for reshaping the matrix

In [ ]:
a = np.array([ [5,5,5,5], [6,6,6,6],[7,7,7,7],[8,8,8,8]])
print(a.shape)
print(a.reshape(8,2))
print("")
print(a.reshape(2,8))
print("")
print(a.reshape(1,16))

print(a)

In [ ]:
a = np.array([ [5,5,5,5,5], [6,6,6,6,6],[7,7,7,7,7],[8,8,8,8,8]])
print(a)  
print("")            #printing all rows and all columns of the matrix
print(a[ : , ])
print("")
print(a[ : , : ])    
print("")
print(a[3, : ])      # slicing   array[rows,columns]
print("")
print(a[ : , 3])
print("")
print(a[2:4,3:5])    #filtering out a sub matrix
print("")
print(a[0:2,0:2])
print("")
print(a[1:3,2:4])
print("")

#.arange()

In [ ]:
a = np.arange(1,100,1)
print(a)

#combining of .arange() and .reshape()

In [ ]:
a = np.arange(1,31).reshape((6,5))
print(a)
print(a.size)
print(a.shape)
print(a[2][4])
print(a.ravel())

In [ ]:
a = np.arange(40,60,2).reshape((5,2))
print(a)

#numpy version check

In [ ]:
import numpy as np
print(np.__version__)

#using random from numpy

In [ ]:
from numpy import random
x = random.choice([3,5,7,9], p = (0.1,0.2,0.3,0.4),size = (100)).reshape(10,10)
print(x)

#Pandas : 
this library is used for handling comma seperated values

In [ ]:
import pandas as pd
print(pd.__version__)

1.3.5

#Analysis of datasets
(picture form,video form,numerical dataset)supports .
Series(handles 1D data) .  Data frame(handles 2D data) .  Panels(3D data)

#Series-1D

In [ ]:
x = [10,20,30]
s = pd.Series(x)
print(s)

0    10
1    20
2    30
dtype: int64

In [ ]:
x=[10,20,30]
s = pd.Series(x,index=[11,22,33])
print(s)

11    10
22    20
33    30
dtype: int64

In [ ]:
sub = {"EP":92,"DAA":86,"ML":90}
i = pd.Series(sub)
print(i)

#DataFrame-2D data

In [ ]:
x = {"Names":["Hari","Rajesh","Yeshwanth","sura"],"Weights":[20,30,40,50],"Rollno":[10,11,12,13]}
s = pd.DataFrame(x,index = [0,1,2,3])
print(s)
print(s.loc[[2,3]])

In [ ]:
x = {"Names":["Hari","Rajesh","Yeshwanth","sura"],"Weights":[20,30,40,50],"Rollno":[10,11,12,13]}

#Program to calculate Mean, Median ,and Mode of the given values in a list

In [ ]:
import numpy
from scipy import stats

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]

x = numpy.mean(speed)
y = numpy.median(speed)
z = stats.mode(speed)

print(x)
print(y)
print(z)

#Python program to convert in feet to inches, yards, and miles

In [ ]:
d_ft = int(input("Input distance in feet: "))
d_inches = d_ft * 12
d_yards = d_ft / 3.0
d_miles = d_ft / 5280.0

print("The distance in inches is %i inches." % d_inches)
print("The distance in yards is %.2f yards." % d_yards)
print("The distance in miles is %.2f miles." % d_miles)

In [ ]:
print("Enter 1st Number")
num1 = int(input())
print('Enter 2nd Number')
num2 = int(input())
print('so What you Want?'+'+,-,/,%,*')
num3 =input()

if num1 ==45 and num2==3 and num3=='*':
    print("555")
elif num1 == 56 and num2 == 9 and num3 == '+':
        print("77")
elif num1 == 56 and num2 == 6 and num3 == '/':
        print("4")
elif num3=='*' :
    num4=num1*num2
    print(num4)
elif num3 == '+':
    plus=num2+num1
    print(plus)
elif num3 == '/':
    Dev=num2/num1
    print(Dev)
elif num3 == '-':
    Dev=num2-num1
    print(Dev)
elif num3 == '%':
    percent=num2%num1
    print(percent)
else:
    print("Error! Please check your input")

In [ ]:
from collections import Counter
#x = int(input("enter the element : "))
mylist = []
n = int(input("enter number of elements :"))
for i in range(0,n):
    element = int(input())
    mylist.append(element)

y = Counter(mylist)
print(y)